@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;

}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: rgb(7, 7, 46);
    transition: all .5s ease;
}

.sidebar h1{
    font-size: 40px;
    text-align: center;
    color: white;
    line-height: 80px;
    background: rgb(8, 8, 71);
    cursor: pointer;
}

.sidebar ul li a{
    display: inline-block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 2px solid rgba(245, 245, 245, 0.227);
    border-radius: 25px;
    transition: 1.5s;
}

.sidebar ul li:hover a{
    padding-left: 80px;
    color: blue;
}

#check{
    display: none;
}

label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    background: black;
    border-radius: 5px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 5px 10px;
    transition: all .5s;
}

label #cancel{
        z-index: 1111;
        left: -195px;
        top: 20px;
        font-size: 30px;
        color: white;
        padding: 5px 10px;
        transition: all .5s ease;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    left: 195px;
}

/* main page */
/* .container{
    background-color:aquamarine;
    width: 100vw;
    height: 100vh;
    
} */